{% extends 'base.html' %} 
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Chris Ecommerce</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to our Website</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/>
                <p align="justify">
                    Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. 
                    Etiam nec mi ligula. Suspendisse sagittis 
                    congue erat non gravida. Aliquam quis nunc porta, 
                    luctus dui ut, dignissim nisi. In laoreet vestibulum euismod. 
                    Maecenas suscipit posuere nunc vitae sodales. Integer porta eros sit 
                    amet dui molestie eleifend. Orci varius natoque penatibus et magnis dis 
                    parturient montes, nascetur ridiculus mus. Duis odio est, vehicula in euismod 
                    eu, ornare vel tellus. Quisque vel mi in diam facilisis venenatis eget vel urna. 
                    In blandit eleifend tortor, vitae finibus ipsum dignissim egestas. Maecenas iaculis 
                    purus vitae consequat sollicitudin. Pellentesque sit amet elit in 
                    arcu lacinia facilisis. Suspendisse in nisl ipsum. Aliquam interdum 
                    tempus turpis, id tincidunt mauris ornare vel. Aliquam erat volutpat. 
                    Sed in purus justo. Nulla finibus maximus tortor, nec lobortis erat. 
                    Morbi porttitor ultricies nibh in venenatis. Morbi nisl enim, consectetur 
                    eu purus eu, suscipit rutrum tortor. 
                    <br/><br/>
                    Suspendisse id dolor ultrices, 
                    facilisis felis in, feugiat nulla. Cras non felis tortor. 
                    Pellentesque habitant morbi tristique senectus et netus et malesuada 
                    fames ac turpis egestas. Nunc semper odio at sem fringilla, in iaculis eros pulvinar.
                     Praesent imperdiet pellentesque leo eget elementum. Maecenas mattis tellus dolor, 
                     quis cursus odio pulvinar eu. 
                     Nullam at orci id purus ultrices feugiat. Nunc et 
                     ullamcorper lorem. Nulla bibendum sapien ligula, ac 
                     semper ex maximus quis. Ut efficitur lectus tellus, 
                     varius pellentesque arcu tempus quis. Nam sit amet 
                     tincidunt eros, ut pharetra sem. Nunc id nisl sed augue 
                     faucibus rutrum. Phasellus mi lacus, vestibulum cursus purus id, 
                     dignissim finibus elit. Suspendisse vel volutpat urna, vitae eleifend risus.
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}